* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    background-color: #FBFCFC;
    font-size: 1.5em;
  }
  
  .container {
    max-width: 1200px;
    width: 75vw;
    margin: 0 auto 0 auto;
  }
  
  .menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }

  .menu__a{
    text-decoration: none;
  }

  .news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    margin-top: 30px;
  }
   
  .news__item{
    width: 20%;
  }

  .news__h1{
    font-weight: bold;
    font-size: 1.8em;
  }

  .news__p{
    margin-top: 10px;
  }

  .wrapper{
    display: flex;
    justify-content: center;
  }
 
  .form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 30px;
  }

  .form__label{
    display: flex;
    justify-content: space-between;
  } 

  .form__input{
    height: 30px;
    width: 20vw;
    margin-bottom: 3%;
 }

 .form__button{
  height: 30px;
  width: 100%;
 }
 

  